{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col text-center">
            <h1>Products list</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mt-5">
            <div class="row">
                <div class="col">
                    <h2>Tags</h2>
                    <ul>
                        {% for tag in tags %}
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input tag-filter" type="checkbox" name="tagFilter" id="{{tag.id}}" value="{{tag.id}}">
                                    <label class="form-check-label" for="defaultCheck1">
                                        {{ tag.name }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <a href="{{ path('product_new') }}" class="mb-5 btn btn-primary">Add new product</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>tags</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr class="product">
                        <td>
                            {% if product.imagePath %}
                                <img src="{{ asset('uploads/products-images/' ~ product.imagePath) }}" height="70" width="90"></img>
                            {% else %}
                                <img src="{{ asset('assets/img/no-image-placeholder.png') }}" height="70" width="90"></img>
                            {% endif %}
                        </td>    
                        <td>{{ product.name }}</td>
                        <td>{{ product.description|truncate(150, true) }}</td>
                        <td>
                            {% for tag in product.tags %}
                                <span id="{{tag.id}}" class="badge badge-info">{{tag.name}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('product_show', {'id': product.id}) }}" title="Show"><i class="fas fa-eye"></i></a>
                            <a class="btn btn-warning" href="{{ path('product_edit', {'id': product.id}) }}" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            {{ include('product/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-warning" role="alert">
                                <strong>Warning!</strong> No products found! <a href="{{ path('product_new') }}">Add new product</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>   
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/tagFilter.js') }}"></script>
{% endblock %}
